$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$white: #ffffff;
$black: #000000;
$black-1: #1F2124;
$yellow: #F2B20C;
$orange: #dd8500;
$pink-gray: #776c7c;
$gray: #C5C5C5;
$gray-1: #F5F5F5;
$gray-3: #c5c7d2;
$gray-4: #eaebef;
$gray-5: #f5f6fa;


$word-main-color: #4D4D4D;
$word-pink-gray-color: #947A99;
$word-pink-gray-hover-color: #B59FB9;
$bold-color: #333333;
$border-color: #5d5461;

$btn-gray-color: #5e5e5e;
$btn-gray-background-hover: #f9f9f9;

$btn-black-background: #333333;
$btn-black-border: #000000;
$btn-black-hover: #595959;

$header-background: #FBFBFB;
$header-background-black: #0c1923;

$btn-primary: $pink-gray;
$btn-primary-hover: #665b6b;

$btn-warning: #F2B20C;
$btn-warning: #F2B20C;

$footer-bottom-color: #5E4363;







